* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #00acee;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 40%;
    min-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    font-family: 'Noto Serif Lao', serif;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}

.newtask-cont {
    background-color: #f6f6f6;
    box-shadow: 0 4px 6px #2d2b2b4d;
    border-radius: 6px;
    padding: 10px 16px;
    margin-bottom: 38px;
}

.newtask-cont input {
    background: none;
    border: none;
    border-bottom: 2px solid #dcd8d8;
    font-size: 16px;
    height: 40px;
    width: 75%;
    padding: 8px;
}

::placeholder {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.newtask-cont input:focus {
    outline: none;
}

#add-button{
    font-size: 16px;
    padding: 8px;
    border: none;
    border-radius: 6px;
    width: 20%;
    float: right;
    height: 40px;
    cursor: pointer;
    outline: none;
    background: #00acee;
    color: #f6f6f6;
}

#tasks-list {
    background-color: #f6f6f6;
    box-shadow: 0 4px 6px #2d2b2b4d;
    border: none;
    border-radius: 6px;
    padding: 10px 16px;
    list-style: none;
    margin-top: 20px;
}

#tasks-list li {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #dcd8d8;
    align-items: center;
    font-size: 16px;
    margin: 12px 0;
}

li .p-text {
    word-wrap: break-word;
    max-width: 80%;
    padding: 6px 10px 6px 0;
    outline: none;
}

.edit-button, .icon-button {
    border: none;
    border-radius: 3px;
    padding: 5px;
}

.edit-button {
    background: #00acee;
    margin-right: 12px;
}

.fa-regular {
    color: white;
    font-size: 14px;
}

.icon-button {
    background: #ca212a;
}

